---
layout: landing
title: Volim Kafu 
---

<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="red heart icon"></i>
            Ukusi
          </div>
          <p>Volimo kafu, svaki dan uživamo u jednoj šolji (ili više) i uvek istražujemo nove ukuse... Da li si i ti jedan od nas?</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple weixin icon"></i>
            Kultura Kafe
          </div>
          <p>Da li uživate u ispijanju kafe? Koje se čaše koriste za različite vrste piva? Zanima Vas koja kafa ide uz koju hranu? Sve o kulturi kafe možete naći baš ovde.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple thumbs up icon"></i>
            Recepti 
          </div>
          <p>Delimo recepte zajedno :) .</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment black-shine-gradient">
  <div class="ui stackable page grid">
    <div class="row">
      <div class="eight wide column">
        {% include recent-posts.html %}
      </div>
      <div class="eight wide column">
        {% include feature-post.html %}        
      </div>
    </div>
  </div>
</div>


<div class="ui inverted vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui five column center aligned stackable inverted divided grid">
        <div class="column">
          <a class="ui small blue inverted statistic" href="/apps/">
            <div class="value">
              <i class="cube icon"></i> 7
            </div>
            <p class="label">
              Kafa popijeno
            </p>
          </a>
        </div>
        <div class="column">
          <a class="ui small purple inverted statistic pagebar" href="#">
            <div class="value">
              <i class="content icon"></i> {{ site.posts | size  }}
            </div>
            <div class="label">
              Ukupno Postova
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="/embeds/">
            <div class=" value">
              <i class="wizard icon"></i> {{ site.categories.app | size  }}
            </div>
            <div class="label">
              Recepti za kafu
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="/category/#theme">
            <div class="value">
              <i class="student icon"></i> {{ site.categories.tutorijal | size  }}
            </div>
            <div class="label">
              Tutorijala
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment">
  <div class="ui centered page stackable divided grid">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          Pregled bloga
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui header">Tagovi</h3>
          {% include site-tags.html %}

      </div>

      <div class="eight wide column">

        <h3 class="ui header">Kategorije</h3>
          {% include site-categories.html %}

      </div>

    </div> <!-- /row -->
  </div>
</div>
