<div class="ui menu">
  <a class="header item" href="/">Volim KAFU</a>
  <div class="right menu">
    
    <a class="item menu-details {% if page.title == 'Blog' %}active{% endif %}" href="/blog/" data-position="bottom left" data-content="Blog"><i class="icon comments"></i></a>
    <a class="item menu-details {% if page.title == 'Apps' %}active{% endif %}" href="/apps/" data-position="bottom left" data-content="Statistika"><i class="icon cube"></i></a>
    <a class="item menu-details" href="/panoramio/" data-position="bottom left" data-content="Mapa"><i class="icon map"></i></a>
    <i class="pin icon"></i>
    Panoramio Map
    </a>
    <a class="item menu-details" href="/category/#recepti" data-position="bottom left" data-content="Recepti"><i class="icon wizard"></i></a>
    <a class="item menu-details" href="/category/#tutorijali" data-position="bottom left" data-content="Tutorijali"><i class="icon student"></i></a>
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Pretraga..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>
    {% if site.pagebar %}
      <a class="mobile item pagebar" href="#"><i class="icon content"></i></a>
      <a class="item pagebar" href="#"><i class="icon content"></i></a>
    {% endif %}
  </div>
</div>
